* {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

img{
    width: 600px;
    height: 400px;
}

.contents1{
    font-size: 20px;
    font-weight: normal;
}

.intro_bg{
    background-image: url("../images_/kfood6.jpg");
    width: 100%;
    height: 630px;
}

.intro_bg1{
    background-image: url("../images_/kfood7.jpg");
    width: 100%;
    height: 630px;
}

.header{
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.searchArea{
    width: 300px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 24px;
}

.searchArea form input{
    border: none;
    width: 250px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding-left: 10px;
}

.searchArea form span{
    width: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 50px);
}

.nav1{
    display: flex;
    justify-content: flex-end;
    line-height: 86px;
    width: calc(1280px - 50px);
}

.nav li{
    margin-left: 84px;
}

.nav li a{
    color: #fff;
    font-size: 20px;
}

.nav1 li{
    margin-left: 84px;
}

.nav1 li a{
    color: rgb(240, 108, 108);;
    font-size: 20px;
}

.intro_text{
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text1{
    width: 100%;
    margin: 231px auto 231px auto;
    text-align: center;
}

.intro_text h1, .intro_text h4{
    color: white;
}

.intro_text1 h1, .intro_text1 h4{
    color:rgb(240, 108, 108);
}

.main_text0{
    width: 100%;
    height: 659px;
}

.main_text0 h1{
    text-align: center;
    padding-top: 50px;
}

.main_text0 .contents1{
    text-align: center;
}

.service{
    width: 1180px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}

.service .contents2{
    padding: 20px;
    font-size: 16px;
}

.service .contents2 h2{
    margin-bottom: 27px;
}

.service .contents2 a{
    color: blue;
}
.main_text1 {
    width: 100%;
    height: 418px;
    background-image: url('../images_/kfood1.jpg');
}

.main_text1 ul{
    display: flex;
    padding-top: 138px;
}

.main_text1 ul li{
    flex: 1;
    text-align: center;
}

.mainbutton{
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 16px auto;
    border: 1px solid black;
    cursor: pointer;
}

footer{
    display: flex;
    background: #1f1f1f;
    padding: 30px;
}

footer div:first-child {
    flex : 3;
    text-align: center;
    color: white;
}

footer div:last-child {
    flex : 9;
    color: white;
}

footer div img{
    width: 80px;
    height: 80px;
}

.popup_bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3160px;
    background: rgba(0, 0, 0, 0.7);
}

.popup{
    position: absolute;
    left: calc(50% - 150px);
    top: calc(200px);
    width: 300px;
    height: 450px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.popup h2{
    text-align: center;
    color: rgb(158, 158, 157);
}

.popup h3{
    margin-bottom: 30px;
}