 body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.25;
    
} 
div{
    display:block;
}
#content .inner {
    overflow: hidden;
    max-width: 860px;
    margin: 0 auto;
}
.hgroup{
    max-width: 1200px;
    margin: 0 auto 60px;
    padding: 78px 0 40px;
    border-bottom: 1px solid #7a583a;
}
.hgroup .category {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 0.875em;
    color: #000;
}
.hgroup h1 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.0666;
    color: #7a583a;
}
.hgroup .post-meta {
    margin: 18px 0 -2px;
    font-size: 0.75em;
    color: #b2b2b2;
}
.hgroup .post-meta span:first-child:before {
    content: none;
}

.hgroup .post-meta span:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    margin: 0 9px;
    background-color: #b3b3b3;
    vertical-align: middle;
}
.entry-content {
    margin: 0 auto;
}
.entry-content span {
    margin-bottom: 22px;
    word-break: break-all;
    font-size: 1em;
    line-height: 1.5714;
    color: #666;
    
}
.content-img {
    margin-top:50px;
    margin-bottom: 50px;
    cursor:pointer;
}
.figure-img{
    margin-top:50px;
    margin-bottom: 50px;
    width:30%;
    margin:50px 10px 10px 10px;
    border : 2px solid gray;
    border-radius:10px;
    cursor:pointer;
}
figcaption {
    font-size: 13px;
    word-break: break-word;
    padding-top: 10px;
    min-height: 20px;
    caption-side: bottom;
    text-align: center;
    margin-bottom:50px;
}
span h1.title{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.0666;
    color: #7a583a;
    border-top:1px solid #7a583a;
    padding-top:50px;
}
.mr-30{
    margin-right:10px;
}
.sp-content{
    
    font-size: .9rem;
    color: #4f4f4f;
    line-height: 1.7;
    text-align: left;
    vertical-align: middle;
    padding-bottom: 5px;
}
a{
    color:black;
}
#daumRoughmapContainer1631552082394{
    width: 640px;
    margin: 50px auto;
}
.back{
    padding-top:100px;
   
}
.back a{
    color:#7a583a;
    text-decoration:none;
    float:right;
}
.youtube__area{
    text-align:center;
    margin-bottom:200px;
    margin-top:50px;
}
#to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    width: 42px;
    height: 42px;
    background-color: #333;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    
}
.best-info{
    text-align:center;
}
.youtube-h{
    text-align:center;
}